<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>All info </h1>
    <h1> id :<%=sing._id%> </h1>

    <h1> name: <%=sing.name%></h1>
    <h1>age: <%= sing.age%></h1>
    <h1> creted at: <%= sing.createdAt%></h1>
    <h1>updated at: <%= sing.updatedAt%></h1>

    <h1>
        <a href="/edit/<%=sing._id%>">edit</a>
    </h1>
</body>

</html>